@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos Online</h1>
    <p class="frase">Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img class="img-fluid " src="/img/Reading book.png" />
    </div>
</div>
